
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    height: 800px;
}

.home-content {
    display: flex;
    margin:0 auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: -3rem;
}

.hello-wrapper {
    position: relative;
    margin-bottom: 1rem;
    width: max-content;
}

.hanging-line {
    width: 5px;
    height: 400px;
    background-color: #000000;
    position: absolute;
    bottom: 50%;
    z-index: 1; 
}

.badge-hello {
    background-color: #ff9e1b;
    border: 6px solid #000000;
    padding: 1.5rem 3rem;
    font-weight: 900;
    font-size: 24px;
    box-shadow: 4px 4px 0px 0px #000000;
    transform: rotate(-3deg);
    position: relative;
    justify-content: center;
    z-index: 2;
}

/* --- 2. Title & Dekorasi --- */
.title-wrapper {
    position: relative;
    z-index: 10;
}

.home-title {
    background-color: #ffffff;
    border: 6px solid #000000;
    border-radius: 8px; /* Agak melengkung dikit di ujung */
    padding: 1rem 2rem;
    font-family: var(--font-archivo);
    font-size: 4.5rem;
    font-weight: 900;
    margin: 0;
    box-shadow: 12px 12px 0px 0px #000000;
    text-transform: uppercase;
    transform: rotate(-3deg); 
    letter-spacing: 6px;
    position: relative;
    z-index: 5;
}

/* Kotak tempelan di belakang nama */
.deco-box {
    position: absolute;
    border: 4px solid #000000;
    z-index: 1; /* Biar ada di belakang teks nama */
}

.green-box {
    width: 90px;
    height: 100px;
    background-color: #00ff33;
    bottom: -40px;
    left: 40%;
}

.blue-box {
    width: 12%;
    height: 70px;
    background-color: #4b85ff;
    bottom: -40px;
    right: 5%;
}

/* --- 3. Role Badge --- */
.badge-role {
    background-color: var(--neo-red);
    color: #ffffff;
    border: 4px solid #000000;
    padding: 0.75rem 2rem;
    font-family: var(--font-sans);
    font-weight: 900;
    font-size: 1.4rem;
    box-shadow: 4px 4px 0px 0px #000000;
    margin-left: 2rem;
    margin-top: 1rem;
    position: relative;
    z-index: 15; /* Numpuk di atas kotak hijau */
}

/* --- 4. Buttons --- */
.home-buttons {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.btn-work,
.btn-wa {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    border: 4px solid #000000;
    padding: 0.75rem 1.5rem;
    font-weight: 900;
    font-size: 1.1rem;
    box-shadow: 4px 4px 0px 0px #000000;
    transition: all 0.2s ease;
    border-radius: 4px;
}

.btn-work {
    background-color: #5c9aff; /* Biru terang */
    color: #ffffff;
}

.btn-wa {
    background-color: #00ff33; /* Hijau terang WA */
    color: #000000;
}

.btn-work:hover,
.btn-wa:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
}

